#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=ospd-openvas

override_dh_auto_clean:
	find -name '*.pyc' -delete
	find -name __pycache__ -type d -delete
	rm -rf .eggs ospd_openvas.egg-info

override_dh_auto_test:
	true

override_dh_auto_install:
	dh_auto_install

	mkdir -p debian/ospd-openvas/etc/default
	sed -e 's|<install-prefix>|/usr|g' -e 's|python3.5|python3.8|g' config/ospd-openvas.default > debian/ospd-openvas/etc/default/ospd-openvas.default

	mkdir -p debian/ospd-openvas/lib/systemd/system
	sed -e 's|<install-prefix>|/usr|g' -e 's|<username>|root|g' -e 's|<groupname>|root|g' config/ospd-openvas.service > debian/ospd-openvas//lib/systemd/system/ospd-openvas.service

	mkdir -p debian/ospd-openvas/etc/ospd
	sed -e 's|<install-prefix>||g'  config/ospd.conf > debian/ospd-openvas/etc/ospd/ospd-openvas.conf

%:
	dh $@ --with python3 --buildsystem=pybuild
